{% extends 'base.html.twig' %}

{% block title %}Dijoma.be - Activités{% endblock %}

{% block body %}
    <main class="bg-white">
        <header class="bg-white shadow-sm">
            <div class="mx-auto max-w-7xl py-4 px-4 sm:px-6 lg:px-8">
                <h1 class="text-lg font-semibold leading-6 text-gray-900">Activités</h1>
            </div>
        </header>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <!-- Replace with your content -->
        </div>

    <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {% for activite in activites %}
            <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
                <a href="{{ path('ActPhoto_show', {'id': activite.id}) }}" class="focus:outline-none">
                <div class="flex w-full items-center justify-between space-x-6 p-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-3">
                        </div>
                        <p class="mt-1 truncate text-sm text-gray-500">{{ activite.title }}</p>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    </main>
</div>
{% endblock %}
