{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <body class="bg-appleground">
        <div class="bg-white mx-auto px-4 py-6 w-full max-w-screen-xl">
            Contenu de votre page ici
        </div>
    </body>
</div>
{% endblock %}
